[workspace]
members = [
  "os",
  "wink",
  "wink-macro",
  "wink-examples/demo",
  "wink-examples/simple-main",
  "support/nu-protocol",
  "support/simple-http-server",
  "support/wasi-executor",
  "support/wasi-net",
]

[package]
name = "vos"
version = "0.1.0"
edition = "2021"

[dependencies]
os = { path = "./os", package = "vos-os" }
env_logger = { workspace = true }

[workspace.dependencies]
embassy-executor = { version = "0.7", features = ["nightly"] }
embassy-sync = "0.6"
embassy-time = "0.4"
embedded-io-async = "0.6"
edge-nal = "0.5"
futures-concurrency = { version = "7.6.3", default-features = false }
log = "0.4.22"
env_logger = { version = "0.11.5", default-features = false }
miniserde = { version = "0.1.41", default-features = false }
static_cell = { version = "2.1.0", features = ["nightly"] }
wasi = "0.14.2"

[features]
default = ["std"]
std = ["os/std", "env_logger/default"]
rv = ["os/rv"]
web = ["os/web"]
