[workspace]
members = [
  "os",
  "wink",
  "wink-macro",
  "wink-examples/demo",
  "nu-protocol-wasi",
]

[package]
name = "vos"
version = "0.1.0"
edition = "2021"

[dependencies]
os = { path = "./os", package = "vos-os" }
env_logger = { workspace = true }

[workspace.dependencies]
futures-concurrency = { version = "7.6.3", default-features = false }
log = "0.4.22"
env_logger = { version = "0.11.5", default-features = false }
miniserde = { version = "0.1.41", default-features = false }
wstd = { version = "0.5", default-features = false }

[features]
default = ["std"]
std = ["os/std", "env_logger/default"]
rv = ["os/rv"]
web = ["os/web"]
